<app-header></app-header>
<div class="container">
    <div class="abs-center">
      <div class="row">
        <form [formGroup]="postForm" class="border p-3 form">
          <div class="col">
              <div class="form-group">
                <div class="form-sub-group">
                  <span class="icon">
                    <i class="fas fa-cart-plus"></i>
                  </span>
                </div>
                <div class="form-sub-group">
                  <input type="text" formControlName="name" id="name" placeholder="name">
                  <label for="name">Product Name</label>
                </div>
              </div>
              <div class="form-group">
                  <div class="form-sub-group">
                    <span class="icon">
                      <i class="fas fa-dollar-sign"></i>
                    </span>
                  </div>
                  <div class="form-sub-group">
                    <input type="number" formControlName="price" id="price" placeholder="price">
                    <label for="price">Price</label>
                  </div>
                </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="form-sub-group">
                <span class="icon">
                  <i class="fas fa-boxes"></i>
                </span>
              </div>
              <div class="form-sub-group">
                <input type="number" formControlName="inventory" id="inventory" placeholder="inventory">
                <label for="inventory">Inventory</label>
              </div>
            </div>
            <div class="form-group-2">
                <div class="form-sub-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Category</mat-label>
                        <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categorys" value="{{category.id}}">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-sub-group">
                  
                </div>
              </div>
          </div>
          <div class="form-group-mini">
            <div class="form-actions">
              <input type="submit" (click)="createProduct(postForm.value)" value="Create">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
