<div class="container">
    <div class="loginForm">
        <div class="logo">
            <img src="assets/trafalgar.png" alt="logo-icon">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <div class="form-group">
                <div class="form-sub-group">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <div class="form-sub-group">
                    <input type="text" formControlName="email" id="email" placeholder="Email">
                    <label for="email">Email Address</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-sub-group">
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
                <div class="form-sub-group">
                    <input type="password" formControlName="password" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="alert" *ngIf="status">
                <span>{{message}}</span>
            </div>
            <div class="form-group-mini">
                <div class="form-actions">
                    <input type="submit" value="Login">
                    <span>or</span>
                    <a class="btn-register" (click)="onChangeRoute()">Register</a>
                </div>
            </div>
        </form>
        <div class="illustration">
            <img src="assets/authImage.jpg" alt="">
        </div>
    </div>
</div>